server:
  port: 6002
spring:
  application:
    name: eureka-server
eureka:
  instance:
    hostname: eureka2.com
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone:  http://eureka1.com:6001/eureka/
