server:
  port: 6001
spring:
  application:
    name: eureka-server
eureka:
  instance:
    hostname: eureka1.com
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone:  http://eureka2.com:6002/eureka/